// Modify for Nesta - original basic project's http://drupal.org/project/basic

@font-face
  font-family: 'UniversCondensedBold'
  src: url('univers_condensed_bold-webfont.eot')
  src: url('univers_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),url('univers_condensed_bold-webfont.woff') format('woff'),url('univers_condensed_bold-webfont.ttf') format('truetype'),url('univers_condensed_bold-webfont.svg#UniversCondensedBold') format('svg')
  font-weight: normal
  font-style: normal

body
  margin: 0
  font: 13px / 1.5em "Helvetica Neue", helvetica, Arial, Verdana, Geneva, sans-serif
  color: #64665c
  background: transparent url(../images/background-02.png) 0 0

body.cke_show_borders
  background-image: none !important

form
  padding: 0 0 0 10px

input.form-text, textarea
  border: 1px solid #b3b3b3
  border-bottom-color: #d9d9d9
  border-left-color: #d9d9d9
  border-radius: 3px
  -khtml-border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px

input.form-text
  background-color: #f2f2f2
  min-height: 20px
  &:hover, &:focus
    background-color: #fff
    border-color: #666

input.form-submit
  border: 1px solid #cdcdcd
  border-radius: 3px
  -khtml-border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  min-height: 20px
  cursor: pointer

#content input.form-submit
  padding: 5px 10px
  margin: 10px 0
  background: transparent url(../images/back-submit-btn.png) 0 0 repeat-x
  color: #666
  font-weight: bold

#content input#edit-delete
  background-color: red

#edit-actions
  border-top: 1px solid #dcdcdc

.block
  border-radius: 3px
  -khtml-border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px

// Links

a
  &:link, &:visited
    color: #5d2067
    text-decoration: none
    border-bottom: 0
  &:hover, &:active
    text-decoration: underline
    border-bottom: 0

.views-field-view-node
  text-align: right
  span.field-content
    a
      font-size: .85em
      display: inline-block
      height: 13px
      background: transparent url(../images/icons/ico-read-more.png) 0 0 no-repeat
      padding-left: 17px
      line-height: 14px

#main
  margin-bottom: 20px !important
  a
    &:link, &:visited
      color: #5d2067
      text-decoration: none
    &:hover, &:active
      text-decoration: underline
  #content
    margin: 0 10px 0 0 !important
  #sidebar-first
    margin: 0 10px
    float: left
    ul li
      border-bottom: 1px solid #dcdcdc
      margin-bottom: 5px
  #sidebar-second
    margin: 0 0 0 10px
    float: right

.page-admin, .no-sidebars
  #main
    #content
      width: 100% !important
      margin: 0 !important

ul.primary li a, .menu-name-primary-links li a
  border: 0

.two-sidebars .center, .sidebar-right .center
  margin: 0 !important

.two-sidebars .center, .sidebar-left .center
  margin: 0 !important

#sidebar-first
  padding-top: 20px
  ul, ol, ul li, ol li
    margin: 0
    padding: 0
    list-style-type: none
  .block
    background-color: #fff

// Titles.

h1, h2, h3, h4, h5, h6
  line-height: .95em
  font-family: 'UniversCondensedBold'
  color: #333
  font-weight: normal !important

h1
  font-size: 2.2em
  font-weight: 300
  padding: 0 0 0.5em
  margin: 0

h2
  font-size: 1.8em
  font-weight: 300
  margin-top: 0
  margin-bottom: 10px

h3
  font-size: 1.4em
  margin-bottom: 10px

h3.title
  border-bottom: 1px solid #dcdcdc
  font-size: 1em
  font-weight: 400
  text-transform: uppercase

h4
  font-size: 1.2em
  margin-bottom: 10px

h5
  font-size: 1.1em
  font-weight: 600
  margin-bottom: 0

h6
  font-size: 1em
  font-weight: bold

// Paragraph styles.
p
  margin: 0 0 1em 0

// List styles.

ul, ol
  margin-left: 0
  padding-left: 2em
  margin-bottom: 15px

.node-type-noticias
  .node-inner
    .content
      ul
        li
          ul
            li
              margin-top: 0

// Table styles.

table
  width: 99%

tr
  &.even td
    padding: 10px 5px
  &.odd
    td
      padding: 10px 5px
    background-color: white

// Code.

pre, code, tt
  font: 1em "andale mono", "lucida console", monospace
  line-height: 1.5

pre
  background-color: #efefef
  display: block
  padding: 5px
  margin: 5px 0
  border: 1px solid #aaaaaa

// List styles.

ul
  list-style-type: disc
  ul
    list-style-type: circle
    ul
      list-style-type: square
      ul
        list-style-type: circle

ol
  list-style-type: decimal
  ol
    list-style-type: lower-alpha
    ol
      list-style-type: decimal

// Abbreviation.

abbr
  border-bottom: 1px dotted #666666
  cursor: help
  white-space: nowrap

// UI improvments.

#edit-title
  font-size: 24px
  width: 98%

#system-themes-form img
  width: 100px

.form-item .description
  font-style: italic
  line-height: 1.2em
  font-size: 0.8em
  margin-top: 5px
  color: #777777

#edit-delete
  color: #cc0000

div
  &.messages
    padding: 9px
    margin: 1em 0
    color: #003366
    background: #365D95
    border: 1px solid #aaccee
  &.warning
    color: #884400
    background: #ffee66
    border-color: #eedd55
  &.error
    color: white
    background: #D23D24
    border-color: #dd5522
  &.status
    color: #336600
    background: #ccff88
    border-color: #690

ul.links
  list-style-type: inherit
  li
    display: inherit
    list-style-type: inherit
    padding: inherit

#content-top
  padding-top: 20px
  overflow: hidden
  .block
    background-color: #fff
  ul, ol, ul li, ol li
    list-style-type: none
    padding: 0
    margin: 0

// bloque noticia destacada

#main
  #content-inner
    h2
      color: #333
      margin-bottom: .5em
      margin-top: 10px
      a
        color: #333
        text-decoration: none
        border: none
    h3.title
      color: #5d2066
      font-size: 1.15em
      margin-bottom: 0
    .views-field-created
      text-align: right
      font-style: italic
      font-family: "Palatino","Garamond","Bookman","Avant Garde"
      margin-bottom: .5em
    .views-field-field-image-fid span a
      border: none

// Vídeo y media

.emvideo-thumbnail-replace-preview .emvideo-thumbnail-replacement span
  top: 66px
  left: 87px

.emvideo-thumbnail-replacement
  span
    background: transparent url(../images/ico-play.png) 0 0 no-repeat
    width: 26px
    height: 26px
    &:hover
      background-position: 0 -26px

#main
  #content-top
    span.field-content   
      a
        border: none

#content-top
  .bloque-noticias-interes
    margin-top: 20px
    .block-inner
      .content
        .item-list
          ul
            overflow: hidden
            li
              display: inline-block
              width: 240px
              margin: 0
              padding: 0
              float: left
              h2
                font-size: 1.5em
                line-height: 22px
            li.views-row-last
              float: right

.front #sidebar-second #sidebar-second-inner .bloque-citas
  background: #fff url(../images/manuel-azana.jpg) -1px 100% no-repeat
  height: 245px
  position: relative
  .item-list
    ul
      li
        margin: 0
        border: none
        div.views-field-name
          position: absolute
          left: 10px
          bottom: 0
          font-style: italic
          font-size: x-small
          text-align: right
          border-bottom: 1px solid #dcdcdc
          margin-bottom: 5px
          a:before
            content: "— "
  p
    font: italic 1.25em "Palatino", "Garamond", "Bookman", "Avant Garde"
    margin: 0
    q
      quotes: "“" "”" "'" "'"

// últimas noticias

#main
  #content-header
    border-radius: 3px 3px 0 0
    -khtml-border-radius: 3px 3px 0 0
    -moz-border-radius: 3px 3px 0 0
    -webkit-border-radius: 3px 3px 0 0
    background: #fff
    padding: 10px 10px 0 10px
    margin-top: 20px
    h2.title                                                                                                                                                                             
      font-size: 1.15em
      color: #5d2066
      border-bottom: 1px solid #dcdcdc
      margin: 0
      text-transform: uppercase

.noticias-restantes
  background-color: #fff
  padding: 0 10px 10px 10px
  border-radius: 0 0 3px 3px
  -khtml-border-radius: 0 0 3px 3px
  -moz-border-radius: 0 0 3px 3px
  -webkit-border-radius: 0 0 3px 3px
  h2
    margin-top: 0
  .views-row
    border-bottom: 1px solid #cecece
    overflow: hidden
    margin-bottom: 10px
  .views-row-last
    border: none
    margin: 0
  .views-field-field-image-fid
    width: 110px
    float: right
    text-align: right
    margin-bottom: 10px

li.views-row-last
  border: none !important

p.submitted, .field-field-publish-date
  text-align: right
  font: italic 1em "Palatino", "Garamond", "Bookman", "Avant Garde"
  margin-bottom: 15px

html
  #page
    .breadcrumb
      background: #fff url(../images/top-right-breadcrumb.jpg) top right no-repeat
      border-radius: 3px
      -khtml-border-radius: 3px
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
      clear: both
      margin: 20px 0 0 10px !important
      overflow: hidden
      padding: 10px !important
      width: 920px !important

.admin-menu #content-inner
  background-color: #fff
  border-radius: 3px
  -khtml-border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px

#pid-portada #content-inner
  background: transparent
  padding: 0
  border: none
  border-radius: 0

// Paginador

ul.pager
  border-bottom: 1px solid #dcdcdc
  padding-bottom: 10px
  li
    margin: 0 !important
    padding: 0 !important
    a
      display: inline-block
      background: #dcdcdc
      padding: 0 5px !important
      border-radius: 3px
  li.pager-current
    display: inline-block
    background: #5d2067
    color: #ffe400 !important
    padding: 0 5px !important
    border-radius: 3px

// Formulario de creación de contenido

#node-form
  padding: 0 10px
  .form-region-main
    width: 70%
  .form-region-right
    width: 28%
    padding: 10px 0 0 0

.no-sidebars
  #node-form
    .form-region-main
      width: 100%

#pid-bazar-tricolor
  #page
    #main
      #content
        width: 100%
        margin: 0 !important
        #content-inner
          #content-area
            .full-node
              .item-list
                ul
                  text-align: center
                  margin: 0
                  padding: 0
                  overflow: hidden
                  li
                    margin: 0
                    padding: 0
                    .views-field-title
                      padding: 0 10px
                      height: 35px
                      border-bottom: 1px dashed #dcdcdc
                      h2
                        font: 13px/1.1em "Helvetica Neue",helvetica,Arial,Verdana,Geneva,sans-serif
                        margin: 0
                        a
                          color: #5d2066
                          font-weight: bold
                    .views-field-field-image-cache-fid
                      margin-top: 10px
                      .field-content
                        img
                          background-color: #ddd
                          border: 1px solid #eee
                          border-radius: 3px
                          -khtml-border-radius: 3px
                          -moz-border-radius: 3px
                          -webkit-border-radius: 3px
                          padding: 5px
                    .views-field-field-resumen-value
                      color: #fff
                      text-align: left
                      padding: 0 10px
                    .views-field-view-node
                      padding: 0 10px
                      border-top: 1px solid #dcdcdc
                      border-bottom: 1px solid #dcdcdc
                      span
                        a
                          color: #5d2066
                    .views-field-field-precio-value
                      background-color: #ffe400
                      color: #df0037
                      text-align: left
                      padding: 0 10px
                    .views-field-sell-price
                      border-bottom: 1px dashed #dcdcdc
                  li.views-row
                    width: 200px
                    height: 265px
                    display: table-cell
                    background-color: #fff
                    text-align: center
                    border-right: 1px solid #dcdcdc
                    border-top: 1px solid #dcdcdc
                  li.views-row-first
                    border-left: 1px solid #dcdcdc
                  li.views-row-last
                    border-right: 1px solid #dcdcdc !important
                    border-top: 1px solid #DCDCDC !important

.block-inner
  h3.block-title
    margin-top: 0
  .content
    form
      padding: 0
      div
        input.form-submit
          background-color: #5d2067
          color: #fff
          padding: 5px 10px
