#pid-inicio
  .node-bottom
    margin-top: 3.5em

#pid-utilidad-estructura 
  #main
    .field-field-image
      text-align: right
      img
        width: $col6

.not-front .full-node .content li
  margin-top: 1.5em

.full-node
  margin-bottom: 10em

// El partido

.listado-el-partido
  overflow: hidden
  .views-row
    width: $col4 - 20px   
    min-height: 390px
    float: left
    margin: 0 10px
    padding: 10px
    background-color: #fff
  .views-row.views-row-first
    margin-left: 0
  .views-row.views-row-last
    margin-right: 0

