#pid-inicio
  .node-bottom
    margin-top: 3.5em

#pid-utilidad-estructura 
  #main
    .field-field-image
      text-align: right
      img
        width: $col6

.not-front .full-node .content li
  margin-top: 1.5em

// Nodos

.full-node
  #page
    #main
      #content
        width: $col11
        #content-header
          h2.title
            font-size: 2em
            line-height: 28px
        #content-area
          background-color: #fff
          padding: 10px
          .full-node
            .content
              .field-field-image
                width: $col6
                float: right
                margin: 0 0 10px 15px
                text-align: right
            .field-field-resumen
              background-color: #f2f2f2
              font-style: italic
              margin: 0 0 15px
              padding: 10px 10px 1px
      #sidebar-first
        width: $col5
        margin: 0 0 0 10px

// El partido

.listado-el-partido
  overflow: hidden
  .views-row
    width: $col4 - 20px   
    min-height: 390px
    float: left
    margin: 0 10px
    padding: 10px
    background-color: #fff
  .views-row.views-row-first
    margin-left: 0
  .views-row.views-row-last
    margin-right: 0

// Listado de noticias (o similar)

.view-id-listado_noticias
  .view-content
    .views-row
      overflow: hidden
      padding-bottom: 10px
      margin-bottom: 10px
      border-bottom: 1px solid #dcdcdc
      .views-field-field-image-fid
        float: left
        margin: 0 10px 0 0

// Enlace al listado completo de noticias

.noticia-destacada
  background: #fff url(../images/back-bottom-link.png) bottom left repeat-x
  .block-inner
    padding-bottom: 2px
    .view-content
      margin-bottom: 14px
    .view-footer
      .listado-de-noticias
        padding-bottom: 5px
        a
          color: #ffe400 !important
          font-family: "UniversCondensedBold"
          font-size: 1.15em
          font-weight: normal
