#pid-inicio
  .node-bottom
    margin-top: 3.5em

#pid-utilidad-estructura 
  #main
    .field-field-image
      text-align: right
      img
        width: $col6

.not-front .full-node .content li
  margin-top: 1.5em

// Nodos

.full-node
  #page
    #main
      #content
        width: $col11
        #content-header
          h2.title
            font-size: 2em
            line-height: 28px
        #content-area
          background-color: #fff
          padding: 10px
          .full-node
            .content
              .field-field-image
                width: $col6
                float: right
                margin: 0 0 10px 15px
                text-align: right
            .field-field-resumen
              background-color: #f2f2f2
              font-style: italic
              margin: 0 0 15px
              padding: 10px 10px 1px
      #sidebar-first
        width: $col5
        margin: 0 0 0 10px

// El partido

.listado-el-partido
  overflow: hidden
  .views-row
    width: $col4 - 20px   
    min-height: 390px
    float: left
    margin: 0 10px
    padding: 10px
    background-color: #fff
  .views-row.views-row-first
    margin-left: 0
  .views-row.views-row-last
    margin-right: 0

// Listado de noticias (o similar)

.view-id-listado_noticias
  .view-content
    .views-row
      overflow: hidden
      padding-bottom: 10px
      margin-bottom: 10px
      border-bottom: 1px solid #dcdcdc
      .views-field-field-image-fid
        float: left
        margin: 0 10px 0 0

// Enlace al listado completo de noticias

.noticia-destacada
  background: #fff url(../images/back-bottom-link.png) bottom left repeat-x
  .block-inner
    padding-bottom: 2px
    .view-content
      margin-bottom: 14px
    .view-footer
      .listado-de-noticias
        padding-bottom: 5px
        a
          color: #ffe400 !important
          font-family: "UniversCondensedBold"
          font-size: 1.15em
          font-weight: normal

// Para formularios con WebForm

.node-type-webform
  #page 
    #main 
      #content 
        #content-area 
          .full-node 
            .content 
              .field-field-image
                width: auto

#webform-client-form-18
  input.form-text
    width: 410px

.node-type-webform
  .field-type-nodereference
    width: 470px
    float: right
    .links
      display: none
    .quotes-quote
      p
        font: italic 1.25em "Palatino","Garamond","Bookman","Avant Garde"
        padding: 10px 0
        border-top: 1px solid #dcdcdc
        border-bottom: 1px solid #dcdcdc
    .quotes-author
      float: none
      p
        text-align: right

#pid-node-18-done
  #content-inner
    background-color: #fff
    border-radius: 3px
    -khtml-border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    .webform-confirmation
      padding: 10px
    .links
      border-top: 1px solid #dcdcdc
      margin: 0 10px
      padding: 10px 0

#pid-formulario-de-afiliacion
  .field-field-cita
    height: 305px
    background: transparent url(../images/manuel-azana-h665.jpg) bottom left no-repeat
    .quotes-quote
      margin: 0 0 0 145px

.accordion-active
  border: none
  .accordion-content
    border: none
  .accordion-item-odd, .accordion-item-even
    .accordion-header
      background: transparent url(../images/closed.png) center left no-repeat
      border: none
      .field-content
        h2
          border: none
          padding-left: 30px
    .accordion-header-active
      background: transparent url(../images/opened.png) center left no-repeat
